	<div>
	<label>Patient Access</label>
	<p>Log into patient portal <a href="/patientlogin">here</a>.</p>
	</div>
	<div>
	<label>Provider Access</label>
	<p>Log into provider portal <a href="/providerlogin">here</a>.</p>	
	</div>